<!doctype html>
<html>

<head>
  <title>File Upload</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="models hide"
    style="overflow: overlay;position:fixed;z-index: 30;height: 98vh;top:1vh; width: 20vw; background-color: rgb(0, 17, 51); left: 80vw; border-radius: 20px;border: 1px solid;">
    Loading...
  </div>
  <form method="POST" enctype="multipart/form-data" id="form_upload">
    <div class="container" style="max-width: 90vw;">
      <div class="row">
        <div class="col-sm-12 text_center">
          <h5 style="color: white">CREATE LEAF DAMAGE MODEL</h5>
        </div>
        <div class="col-sm-6 text-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 text-center border_none">
                <div class="btn upload-file font-weight-500">
                  <span class="upload-btn">
                    <i style="color: white" class="material-icons d-block font-50 pb-2">cloud_upload</i>
                    <p style="color: white" id="choose-text-1">
                      Choose your dataset
                    </p>
                  </span>
                  <span class="upload-select-button" style="color: white" id="blankFile-1">
                    *Supports .ZIP
                  </span>
                  <span class="success-1">
                    <i class="material-icons text-success">check</i>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 border_none">
                <hr />
                <div class="file_info" style="color:tomato; ">
                  The system automatically creates a deep learning model of trees using a dataset provided by the user.
                </div>
              </div>
            </div>
          </div>
          <div class="upload-btn-wrapper">
            <label id="upload_widget" class="cloudinary-button" for="dataset_input" style="cursor: pointer;">
              SUBMIT & UPLOAD DATASET HERE
            </label>
            <input name="file" type="file" id="dataset_input">
          </div>
          <hr />
          <!-- <i style="color: white">
            "To diagnose plant diseases most accurately, give
            photos of a symptomatic plant leaf (not mixed with anything
            what else)"
          </i> -->
          <hr />

          <div class="loading hide" style='height: 300px;
          overflow:overlay;
          border:1px violet solid;
          text-align: left;
          color:lime;
          border-radius: 20px;'>
          </div>
          <div class="load_log hide">
          </div>
          <hr />
          <div class="result hide">
            <canvas id="accuracy"></canvas>
            <canvas id="loss"></canvas>
            <a href="" id="model_downloader" class="btn btn-outline-info btn-block btn-large" id="submit_create_model"
              style="font-size: 20px;">DOWNLOAD MODEL <i class="fa fa-cloud-download-alt"></i></a>
            <hr />

            <a href="" class="btn btn-outline-primary btn-block btn-large" style="font-size: 20px;">EVALUATE MODEL <i
                class="fa fa-percent"></i></a>
          </div>

        </div>
        <div class="col-sm-6 box" id="box_img">

          <div>
            <hr />
            <span class="text_model">Your export model name:</span>
            <hr />
            <input value="" name="name_model" id="name_model" placeholder="Model name..." class="form-control">
          </div>
          <div>
            <hr />
            <span class="text_model">Image height:</span>
            <hr />
            <!-- <input type="number" value="224" name="img_height" id="img_height" placeholder="Image height..."
              class="form-control"> -->
            <select id="img_height" class="form-control">
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224" selected>224</option>
            </select>
          </div>
          <div>
            <hr />
            <span class="text_model">Image width:</span>
            <hr />
            <!-- <input type="number" value="224" name="img_width" id="img_width" placeholder="Image width..."
              class="form-control"> -->
            <select id="img_width" class="form-control">
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224" selected>224</option>
            </select>

          </div>
          <div>
            <hr />
            <span class="text_model">Epoch:</span>
            <hr />
            <input type="number" name="epoch" id="epoch" placeholder="Epoch..." value="5" class="form-control">
          </div>
          <div>
            <hr />
            <span class="text_model">Batch size:</span>
            <hr />
            <input type="number" name="batch_size" id="batch_size" placeholder="Batch size..." value="64"
              class="form-control">
          </div>
          <hr />
          <span class="text_model">Model Training:</span>
          <hr />
          <select id="model_training" class="form-control">
            <option value="resnet50">Resnet50</option>
            <option value="InceptionV3">InceptionV3</option>
            <option value="mobilenetv2">Mobile Net V2</option>
            <option value="mobiletnet" selected>Mobilet Net</option>
          </select>
          <hr />
          <span class="text_model">Download everyone's model:</span>
          <hr />
          <p class="btn btn-outline-primary toogle_models btn-block btn-large" style="cursor:pointer; font-size: 25px;">
            LIST TRANING MODEL</p>
          <hr />
        </div>
      </div>
    </div>
  </form>
  <div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
  integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  //  let  dict = '{"log": {"loss": [1.6513383388519287], "accuracy": [0.4078007936477661], "val_loss": [1.7214546203613281], "val_accuracy": [0.4404181241989136]}, "model": "models/q\u01b0ev_mobilenet.h5", "name_model": "q\u01b0ev_mobilenet.h5", "type": "mobiletnet"}'
  //  let dict2 = "{'loss': [1.698645830154419, 0.9830909967422485, 0.7008122801780701, 0.5004916787147522, 0.3600955605506897], 'accuracy': [0.4071043133735657, 0.6409541964530945, 0.7797318696975708, 0.885948121547699, 0.9399268627166748], 'val_loss': [2.1421902179718018, 1.5581915378570557, 1.461743712425232, 1.316980004310608, 1.310359001159668], 'val_accuracy': [0.3846689760684967, 0.4648083746433258, 0.504529595375061, 0.5456445813179016, 0.5491289496421814]}"
  let SERVER_ADS = 'https://create-model.envgame.online/'

  function processing_log(data) {
    data = data.replaceAll('"GET /static/styles/nohup.out HTTP/1.0" 200 -', '<br/>')
    data = data.replaceAll('127.0.0.1 - -', '')
    return data

  }

  setInterval(() => {
    console.log("{{ url_for('static',filename='log/nohup.out') }}")
    $.get("{{ url_for('static',filename='log/nohup.out') }}", function (data) {
      // data = data.replaceAll("'",'"')
      data = JSON.parse(data)
      // console.log(data)
      if(data.result != ''){
        response = data.result
        // console.log(response)
        // $('.loading').hide(300)
        $('.load_log').show(300)
        // console.log(response.name_model + $("#name_model").val() + "_" + response.type + ".h5")
        if (response.name_model == $("#name_model").val() + "_" + response.type + ".h5") {
          console.log("show graph !")
          $('.result').show(300)
          $('#model_downloader').attr("href", "/download/" + response.name_model)
          draw_graph(response)
        }
        else{
          console.log('hide graph')
          $('.result').hide()
        }
      }
      $(".loading").html(processing_log(data.nohup))
      $('.loading').animate({
        scrollTop: $('.loading').get(0).scrollHeight
      }, 200);
    }, "text");
  }, 2000);

  function draw_graph(data) {
    data = data.log
    console.log(data)
    const accuracy = {
      labels: [...Array(data.accuracy.length).keys()],
      datasets: [{
          label: 'accuracy',
          backgroundColor: 'aqua',
          borderColor: 'aqua',
          data: data.accuracy,
        },
        {
          label: 'validation accuracy',
          backgroundColor: 'violet',
          borderColor: 'violet',
          data: data.val_accuracy,
        }
      ]
    };
    const config_accuracy = {
      type: 'line',
      data: accuracy,
      options: {}
    };
    var accuracy_chart = new Chart(
      document.getElementById('accuracy'),
      config_accuracy
    );


    const loss = {
      labels: [...Array(data.loss.length).keys()],
      datasets: [{
          label: 'loss',
          backgroundColor: 'aqua',
          borderColor: 'aqua',
          data: data.loss,
        },
        {
          label: 'validation loss',
          backgroundColor: 'violet',
          borderColor: 'violet',
          data: data.val_loss,
        }
      ]
    };
    const config_loss = {
      type: 'line',
      data: loss,
      options: {}
    };
    var loss_chart = new Chart(
      document.getElementById('loss'),
      config_loss
    );
  }

  function get_models() {
    axios.get('/models')
      .then(function (response) {
        let models = response.data
        models = models.replaceAll("[", "")
        models = models.replaceAll("]", "")
        models = models.replaceAll("'", "")
        models = models.replaceAll(" ", "")
        models = models.replaceAll(".h5", "")
        models = models.split(",")
        $('.models').html(models.map((model, id) => {
          return `<hr /><a href=${"/historys/" + model} target="_blank" class="btn btn-outline-info btn-block btn-large" id="submit_create_model"
              style="font-size: 20px;">${model} <i class="fa fa-cloud-download-alt"></i></a>`
        }))
      })
  }

  get_models()

  function bytesToSize(bytes) {
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
    if (bytes === 0) return 'n/a'
    const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
    if (i === 0) return `${bytes} ${sizes[i]})`
    if ((bytes / (1024 ** i)).toFixed(1) >= 50) {
      alert("Your dataset is over 50MB !")
      return "<b style={color:'red'}>Your dataset is over 50MB !</b>"
    }
    return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
  }
  $(document).ready(function () {
    $('.hide').hide()
    $("#dataset_input").change(function (e) {
      $('.loading').show(300)
      var file = e.target.files[0];
      console.log(bytesToSize(file.size))
      let file_info_export =
        `File name: <b>${file.name}</b> <br/> Size: <b>${bytesToSize(file.size)}</b> <br/> Type: <b>${file.type}</b>`
      $('.file_info').html(file_info_export)
      $('.file_info').show(300)
      var formData = new FormData();
      formData.append("file", file);
      var QueryOBJ = {
        name_model: $("#name_model").val(),
        img_height: $("#img_height").val(),
        img_width: $("#img_width").val(),
        epoch: $("#epoch").val(),
        batch_size: $("#batch_size").val(),
        model_training: $("#model_training").val(),
      }
      formData.append('data', JSON.stringify(QueryOBJ));

      axios.post(SERVER_ADS, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then(rs => {
        // response = JSON.parse(rs.data)
        // console.log(response)
        // // $('.loading').hide(300)
        // console.log(rs.data)
        // // $('.load_log').show(300)
        // // $('.result').show(300)
        // if (response.name_model) {
        //   $('.result').show(300)
        //   $('#model_downloader').attr("href", "/download/" + response.name_model)
        //   draw_graph(response)
        // }

      })

    });
    $('.toogle_models').click(
      function () {
        $('.models').toggle(200)
      }, )
  });
</script>

</html>






<hr />
<!-- <div id="snackbar">
    <br />
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
  </div> -->