<!doctype html>
<html>

<head>
  <title>File Upload</title>
</head>

<body>
  <h1>File Upload</h1>
  <form action="" method="POST" enctype="multipart/form-data" id="myform">
    <input type="file" name="file" />
    <input type="submit" />
  </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
  integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
</script>

</html>